{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if session.user_id%}
            <h1> The map will exist here.</h1>
            <a href="{{ url_for('auth.log_out') }}"  class="text-info"> Log Out </a>
            {% else %}
            <p> Please login first.</p>
            <a href="{{ url_for('auth.log_out') }}" class="text-info"> Login </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}